<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Dev\Noxa.Emulation\trunk\Websites\PSPCompat\App_Data\Database.mdf;Integrated Security=True;User Instance=True"/>
		<add key="Username" value="USERNAME HERE"/>
		<add key="Password" value="PASSWORD HERE"/>
	</appSettings>
</configuration>